:root {
    --headerBackgroundColor: #FFF;
    --mainBackgroundColor: #E2E8F0;
    --iconColor: #000;
}
html {
    font-family: 'Nunito Sans', sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
}
button {
    cursor: pointer;
}
h1, p {
    margin: 0;
}
.icon {
    color: var(--iconColor);
    width: 20px;
    height: 20px;
}

/* COMPONENTS */

app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headerBackgroundColor);
    padding: 10px 0 10px 10px;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

app-home, app-details {
    display: block;
    min-height: calc(100vh - 100px);
    background-color: var(--mainBackgroundColor);
    margin: 5px 0 0 0;
}
app-home {
    padding: 15px 10px 20px 10px;
}
app-details {
    padding: 15px 30px
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 300px auto;
}

.imgFill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 160px;
}
.imgFill img {
    height: auto;
    width: 100%;
}
.sub {
    font-weight: 600;
}